@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*this is a css file.*/
/*
 general
   */
:root {
  --main-color: rgb(112 171 207);
  --background-secondary: rgb(245 245 245);
  --lines: rgb(223 223 223);
  --input-placeholders: #717171;
  --btn-projects: #dcdcdc;
  --btn-projects-color: #717171;
  --btn-border-sm: 5px;
  --max-width: 1500px;
  --height-slide: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 150px;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: Roboto, sans-serif;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

input,
textarea {
  width: 100%;
  padding: 5px;
}

iframe {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: var(--max-width);
  margin: auto;
}

.container-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 999;
  padding: 0 15px;
  background-color: #fff;
  max-width: var(--max-width);
}

/* 
end general
  */



/* 
header 
 */
.header {
  padding: 20px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header img {
  width: 200px;
  margin-bottom: 10px;
  display: block;
}

.nav-bar {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-link,
.nav-item {
  padding: 5px 0;
  height: 100%;
}

.nav-link {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--main-color);
}

/* 
end header
  */


/* sliders  */
#i1,
#i2,
#i3,
#i4,
#i5 {
  display: none;
}

.main-container {
  margin-top: 150px;
}

.container-slider {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 90%;
  max-width: 1500px;
  height: 35vw;
  max-height: 450px;
  user-select: none;
  animation: scroll 1s ease-in-out;
}

.slide-img {
  z-index: -1;
  overflow: hidden;
}

.container-slider .slide-img {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
}


.my-slides-text {
  position: absolute;
  top: 50%;
  left: 8%;
  width: 80%;
  text-align: left;
  transform: translateY(-50%);
  height: 60%;
  max-height: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.my-slides-title {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  max-width: 140px;
  font-size: .5rem;
  line-height: .5rem;
}

.my-slides-text span {
  color: var(--main-color);
  font-size: .5rem;
  line-height: .8rem;
}

.my-slides-text p {
  color: #fff;
  text-transform: none;
  max-width: 60%;
  font-size: .5rem;
}

.my-slides-text button {
  background-color: var(--main-color);
  padding: 3px 6px;
  border: none;
  color: #fff;
  border-radius: 2px;
  font-size: 0.3rem;
  font-weight: bold;
}

.container-slider .slide-img img {
  width: 100%;
  height: 100%;
}

.prev,
.next {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(0 0 0 / 68%);
  color: rgba(244 244 244 / 90%);
  z-index: 99;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: -8px;
}

.prev {
  left: -8px;
}

.prev::after,
.next::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 60%;
  font-size: .8rem;
}

.prev::after {
  content: "<";
  border-radius: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.next::after {
  content: ">";
  border-radius: 50%;
  left: 20%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: .3s;
  background-color: rgba(88 88 89 / 80%);
  color: #fff;
}

#i1:checked~#one,
#i2:checked~#two {
  z-index: 9;
  animation: scroll .4s ease-in-out;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* end sliders  */


/* 
titles  
*/
.services,
.projects {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.services .title,
.projects .title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 40px;
}

/* 
line division titles  
*/
.line-division {
  width: 40%;
  height: 3px;
  background-color: rgb(240 240 240);
  margin: 40px auto 20px;
  position: relative;
}

.line-division::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 6px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* 
end titles  
*/


/* 
services  
*/
.services p {
  max-width: 800px;
  text-align: center;
}

.services-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.services-body img {
  width: 100%;
  max-width: 500px;
}

.services-descriptions {
  width: 100%;
}

.services-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin: 20px 0 40px;
  text-align: justify;
}

.services-description-text {
  text-align: left;
}

.services-description-text p {
  text-align: left;
}

.services-description-title {
  text-align: center;
  margin-bottom: 10px;
}

.services-description-icons {
  position: relative;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.services-description-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: var(--main-color);
}

.services-description-animation {
  width: 60px;
  height: 60px;
  animation: rotation 8s infinite linear;
  border: 2px solid var(--lines);
  border-radius: 50%;
  transform-origin: center;
  position: relative;
}

.services-description-animation::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  position: absolute;
  top: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* 
end services  
*/


/* 
projects  
*/
.projects {
  background-color: #f5f5f5;
}

.projects p {
  margin: 25px 0 35px;
  padding: 0 20px;
  width: 100%;
  max-width: 1000px;
  text-align: left;
}

.projects-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  max-width: 600px;
  margin-bottom: 20px;
}

.projects-buttons .btn {
  background-color: var(--btn-projects);
  border: none;
  color: var(--btn-projects-color);
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 0.6rem;
  font-weight: bold;
  cursor: pointer;
  width: calc(100% / 4);
  position: relative;
}

.projects-buttons .btn:hover {
  background-color: var(--main-color);
  color: #fff;
  padding: 3px 5px 11px;
  font-weight: bold;
}

.projects-buttons-arrow {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--main-color);
  z-index: 1;
}

.projects-buttons .btn:hover .projects-buttons-arrow {
  bottom: -20px;
  display: block;
}

/* 
projects buttons borders 
*/
.btn.left {
  border-top-left-radius: var(--btn-border-sm);
  border-bottom-left-radius: var(--btn-border-sm);
}

.btn.right {
  border-top-right-radius: var(--btn-border-sm);
  border-bottom-right-radius: var(--btn-border-sm);
}

.btn:hover.left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn:hover.right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.projects-gallery {
  margin: 20px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 0 20px;
  padding: 10px 0;
}

.projects-gallery-work {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0 0 10px;
}

.projects-gallery-image img {
  width: 100%;
  display: block;
  height: auto;
}

.projects-gallery-description {
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  background-color: #032c579b;
  width: 100%;
  height: 0;
  transition: .4s ease;
  text-align: center;
  color: #fff;
}

.projects-gallery-description p,
.projects-gallery-description-title {
  text-align: left;
  margin: 0;
  padding: 8px 10px 5px;
}

.projects-gallery-work:hover .projects-gallery-description {
  height: 80%;
}

.projects-gallery-description-icon {
  color: rgba(255 255 255);
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #032c57;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 2px solid #fff;
}

/* 
end projects  
*/


/* 
contact  
*/
.contact {
  margin: 20px 0;
  width: 100%;
  position: relative;
  height: 700px;
}

.contact-google-image {
  width: 100%;
  height: 100%;
}

.contact-google-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  opacity: 0.3;
}

.contact form {
  position: absolute;
  top: 100px;
  right: 15px;
  width: 90%;
  max-width: 350px;
  margin: 0 auto 50px;
  background-color: #ffffffd9;
  padding: 20px 10px 30px;
}

.contact-inputs {
  margin: 25px 0 30px;
}

.contact-group-input {
  margin: 10px 0 20px;
}

.contact-group-input input,
.contact-group-input textarea {
  padding: 5px;
}

.contact-group-input [input]:focus,
.contact-group-input [textarea]:focus {
  background-color: rgb(237 237 237);
  outline: 2px var(--btn-projects-color);
}

.contact-group-input [input]::placeholder,
.contact-group-input [textarea]::placeholder {
  color: var(--input-placeholders);
}

.contact-title {
  margin: 0 0 15px;
}

.contact p {
  margin: 5px 0;
}

.contact .btn-form {
  width: 50%;
  padding: 10px 0;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  box-shadow: 1px 1px 1px rgb(5 121 145);
}

/* 
end contact  
*/


/* 
footer  
*/
.footer {
  width: 100%;
  margin-top: 20px;
}

.footer .container {
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.footer .logos {
  font-size: 2rem;
  color: var(--main-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 10px 0 20px;
}

.footer .logos>i {
  margin: 0 20px;
}

/* 
end footer  
*/


/* media queries */

/* media query 375  */
@media screen and (min-width:375px) {

  /* slides  */
  .my-slides-text {
    width: 80%;
    height: 60%;
  }

  .my-slides-title {
    max-width: 180px;
    font-size: .7rem;
    line-height: .7rem;
  }

  .my-slides-text span {
    font-size: .7rem;
    line-height: .9rem;
  }

  .my-slides-text p {
    max-width: 60%;
    font-size: .5rem;
  }

  .my-slides-text button {
    border-radius: 2px;
    font-size: 0.32rem;
  }

}

/* end media query 375  */


/* media query 520  */
@media screen and (min-width:520px) {

  /* sliders  */
  .my-slides {
    height: 280px;
  }

  .my-slides-text {
    width: 80%;
    height: 55%;
  }

  .my-slides-title {
    max-width: 220px;
    font-size: .8rem;
  }

  .my-slides-text span {
    font-size: .8rem;
    line-height: 1.2rem;
  }

  .my-slides-text p {
    max-width: 70%;
    font-size: .6rem;
  }

  .my-slides-text button {
    border-radius: 2px;
    font-size: 0.32rem;
  }

  /* projects  */
  .projects-buttons .btn {
    padding: 10px 12px;
  }

  .projects-buttons .btn:hover {
    background-color: var(--main-color);
    padding: 5px 12px 15px;
  }
}

/* end media query 520  */


/* 
media query 640  
*/
@media screen and (min-width:640px) {
  .container {
    padding: 0 30px
  }

  .main-container {
    margin-top: 90px;
  }

  .container-header {
    padding: 0 30px;
  }

  .container-slider {
    width: 98%;
  }

  /* header  */
  .header {
    flex-direction: row;
    height: 10vh;
  }

  .header img {
    margin-bottom: 0;
  }

  .nav-bar {
    width: 350px;
    height: 10vh;
    margin: 0;
  }

  .nav-list {
    height: 100%;
  }

  .nav-item {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-link:hover {
    border-bottom: 2px solid transparent;
    border-top: 2px solid var(--main-color);
  }

  .my-slides {
    height: 300px;
  }

  .my-slides-text {
    width: 80%;
    height: 50%;
    transform: translateY(-60%);
  }

  .my-slides-title {
    max-width: 250px;
    font-size: 1rem;
  }

  .my-slides-text span {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .my-slides-text p {
    max-width: 70%;
    font-size: .7rem;
  }

  .my-slides-text button {
    border-radius: 2px;
    font-size: 0.4rem;
  }

  .prev,
  .next {
    width: 30px;
    height: 30px;
  }

  .prev::after,
  .next::after {
    content: "";
    width: 30px;
    height: 30px;
    top: 58%;
    font-size: 1.2rem;
  }

  .prev::after {
    content: "<";
    border-radius: 50%;
    left: 40%;
  }

  .next::after {
    content: ">";
    border-radius: 50%;
    left: 25%;
  }


  /* projects  */
  .projects p {
    text-align: center;
  }

  .projects-gallery-work {
    max-width: 48%;
  }
}

/* end media query 640  */



/* 
media query 768  
*/
@media screen and (min-width:768px) {
  .container {
    padding: 0 50px;
  }

  /* 
  header  
  */
  .header {
    flex-direction: row;
  }

  /* 
  sliders
    */

  .my-slides {
    height: 400px;
  }

  .my-slides-text {
    width: 80%;
    height: 55%;
    transform: translateY(-60%);
    left: 40px;
  }

  .my-slides-title {
    max-width: 400px;
    font-size: 1.5rem;
  }

  .my-slides-text span {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .my-slides-text p {
    max-width: 70%;
    font-size: .9rem;
  }

  .my-slides-text button {
    border-radius: 4px;
    font-size: 0.6rem;
    padding: 4px 8px;
  }


  /* 
  Next & previous buttons 
  */
  .prev,
  .next {
    top: 45%;
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }

  /* 
  Position the "pevius button" to the left 
  */
  .prev {
    left: -25px;
  }

  /* 
  Position the "next button" to the right 
  */
  .next {
    right: -25px;
  }

  .prev::after,
  .next::after {
    content: "";
    top: 55%;
    font-size: 1.2rem;
  }

  .prev::after {
    content: "<";
    border-radius: 50%;
    left: 60%;
  }

  .next::after {
    content: ">";
    border-radius: 50%;
    left: 20%;
  }

  /* 
  title services and projects  
  */

  .services .title,
  .projects .title {
    font-size: 1.8rem;
  }

  .projects-buttons .btn {
    font-size: .95rem;
  }
}

/* end media query 768  */



/* 
media query 992  
*/
@media screen and (min-width:992px) {

  /* sliders  */
  .my-slides-text {
    width: 80%;
    height: 45%;
    left: 50px;
  }

  .my-slides-title {
    max-width: 400px;
    font-size: 1.5rem;
  }

  .my-slides-text span {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .my-slides-text p {
    max-width: 70%;
    font-size: .9rem;
  }

  .my-slides-text button {
    border-radius: 4px;
    font-size: 0.7rem;
    padding: 5px 9px;
  }

  .prev::after,
  .next::after {
    content: "";
    top: 50%;
    font-size: 1.5rem;
  }

  .next {
    right: -15px;
  }

  .prev {
    left: -15px;
  }

  .prev,
  .next {
    width: 40px;
    height: 40px;
  }

  .prev::after {
    content: "<";
    left: 45%;
  }

  .next::after {
    content: ">";
    left: 25%;
  }

  /* 
services
  */

  .services-body {
    flex-direction: row;
    align-items: flex-start;
  }

  .services-body img {
    width: 100%;
    min-width: 450px;
    max-width: 800px;
  }

  .services-description {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .services-description-icons {
    margin-right: 10px;
  }

  .services-description-title {
    text-align: left;
    margin-bottom: 2px;
  }

  /* projects  */
  .projects-gallery-work {
    max-width: 31%;
  }




  /* contact  */
  .contact form {
    top: 20px;
    right: 30px;
    width: 100%;
    padding: 20px 20px 30px;
  }
}

/* end media query 992  */


/* 
media querie 1200  
*/
@media screen and (min-width:1200px) {

  /* 
  sliders
    */
  .container-slider {
    /* height: 550px; */
    max-height: 520px;
    width: 100%;
  }

  .my-slides {
    height: auto;
  }

  /* sliders  */
  .my-slides-text {
    width: 80%;
    height: 40%;
    left: 80px;
  }

  .my-slides-title {
    max-width: 450px;
    font-size: 1.8rem;
  }

  .my-slides-text span {
    font-size: 1.8rem;
    line-height: 4rem;
  }

  .my-slides-text p {
    font-size: 1rem;
  }

  .prev,
  .next {
    width: 50px;
    height: 50px;
  }

  .prev::after,
  .next::after {
    content: "";
    top: 45%;
    font-size: 1.8rem;
  }

  .next {
    right: -20px;
  }

  .prev {
    left: -20px;
  }

  .prev::after {
    content: "<";
    left: 45%;
  }

  .next::after {
    content: ">";
    left: 25%;
  }


  /* projects  */
  .projects-gallery {
    gap: 10px;
  }

  /* projects  */
  .projects-gallery-work {
    max-width: 24%;
  }
}

/* end media query 1200  */
